body {  
}
.Label{
    text-align:center;
    
}
.panel1{
    background-color:black;
    padding:10px 0px 10px 0px;
}
.hmenu{
     margin:5px;
}
.lab1{
    font-size:10px;
}

.lb1{
    margin-right:200px;
}

.drp{
    margin-right:50px;
}
.btn1{
    position: fixed;
      left: 45%;
}
.btn2{
    position: fixed;
      left: 50%;
}
.panel{
  
    border:1px solid #808080;
    margin:15px;
    height:200px;
     
}

.table{
    border:2px solid;  

}
.count{
    margin-left:130px;
}
