@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  /*  background-image: url('bgimg.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
}
.container{
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 1rem;
  margin-top: 30px;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}
#title{
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 8px 8px 1px #969696;
  
}

.h1{
  
  font-size: 40px;
  text-align: center;
}
.col-md-4{
  width: auto;
  height: auto;
}
.col-md-8{
  margin-top: 10%;
}

#imagemain{
 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  
}

/* .centered {
  font-family: 'poppins',sans-serif;
  color: rgb(21, 255, 0);
  font-size: 2rem;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */


#title2{
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  text-decoration: underline 5px;
  margin-top: 3px;
}
#learn{
  font-family: 'Poppins', sans-serif;
    text-align: center;
}
#about{
  font-family: 'Poppins', sans-serif;
    text-align: center;
    
}

#footer{
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  
  text-align: center;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 8px 8px 1px #969696;
  
}
#sd{
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  #imagemain{
    margin-top: 10px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
  #title{
      font-family: 'Poppins', sans-serif;
      font-size: 2.3rem;
      font-weight: 900;
      text-align: center;
  }
  #form{
    width: 93%;
  }
}